/* Logo */
/* Adapted from Zachary Blackwood */
[data-testid="stSidebar"] {
    background-image: url(https://cdn.worldvectorlogo.com/logos/heineken-corporate.svg);
    background-size: 160px;
    background-repeat: no-repeat;
    background-position: 10px 25px;
}